* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body html {
  width: 100%;
  height: 100%;
}
.userContainer {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 15vh;
  display: flex;
}
.profile {
  width: 80px;
  height: 80px;
  margin-top: 15px;
  border-radius: 50px;
  cursor: pointer;
  
}
.profile:hover{
    transform: scale(1.2);
    transition: .3s;
}
body {
  border: 0.1rem solid black;
  padding: 1rem 10rem;
}

.user-info {
  height: 15vh;
}
.display-msg {
  height: 60vh;
  padding: 1rem 5rem;
}
.send-msg {
  height: 15vh;
  padding: 1rem 5rem;
}
.img-select{
    display: none;
}
.profile_name{
    align-items: center;
    margin-top: 35px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

