* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  padding: 1rem 18rem;
  background-image: url('https://plus.unsplash.com/premium_photo-1684761949512-fab7ef8a3b3c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d2hhdHNhcHAlMjBjaGF0fGVufDB8fDB8fHww');
}

.userContainer {
  background-color: whitesmoke;
  height: 15vh;
  display: flex;
}
.profile {
  width: auto;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  
}

.user-info {
  height: 15vh;
}

.img-select{
    display: none;
}

.profile_name{
    align-items: center;
    margin-top: 35px;
}

.display-msg {
    height: 60vh;
    padding: 1rem 5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url('https://images.unsplash.com/photo-1611175694989-4870fafa4494?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNoYXQlMjBhcHB8ZW58MHx8MHx8fDA%3D');
}

.align-left {
    align-self: flex-start;
    max-width: 60%;
    margin: 1rem 0rem;
    padding: 0.2rem;
    border-radius: 1rem 1rem 1rem 0rem;
}
  
.align-right {
    align-self: flex-end;
    max-width: 60%;
    margin: 1rem 0rem;
    box-shadow: black;
    padding: 0.2rem;
    border-radius: 1rem 0rem 1rem 1rem;
}
.send-msg {
    height: 15vh; 
    padding: 1rem 5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.send-container{    
   width: 60vw;
   display: flex;
   box-shadow: 1px 1px 1px 1px rgb(91, 93, 91);
   border-radius: 1rem 1rem 1rem 1rem;
}

input{ 
   background-color: rgb(225, 235, 223);
   padding: 20px;
   font-size: 16px;
   width: 60vw;
   border: none;
   border-radius: 1rem 0rem 0rem 1rem;
   outline: none;
   
}
.send-button {
  background-color: rgb(225, 235, 223);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 0rem 1rem 1rem 0rem;
}
.send-button img {
    width: 40px; 
    height: 20px; 
    margin-right: 5px; 
 }
